* {
  box-sizing: border-box;
}

.test {
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  margin: 30px;
  padding: 10px;
  width: 150px;
  height: 400px;
}

.anchor {
  width: 128px;
}

.fc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}