/* Universal styling */

* {
  box-sizing: border-box;
}

body {
  background-color: darkslategrey;
}

/* Flexbox */

.fc {
  display: flex;
}

.fd-c {
  flex-direction: column;
}

.jc-c {
  justify-content: center;
}

.jc-fs {
  justify-content: flex-start;
}

.jc-fe {
  justify-content: flex-end;
}

.jc-sa {
  justify-content: space-around;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.ai-fs {
  align-items: flex-start;
}

.ai-fe {
  align-items: flex-end;
}

/* App-specific styling */

#app {
  margin: auto;
  width: 90%;
  min-width: 500px;
}


/* Gallery */

.gallery {
  width: 100%;
}

/* Main Photo Selector */
.photo-selector {
  max-width: 1000px;
  width: 90%;
}

.caption {
  width: 90%;
}

.caption-container {
  width: 80%;
  max-width: 700px;
  padding: 0px 10px;
}

.center-photo-selector {
  width: 90%;
}

.left-selector-button {
  /*width: 86.5px;*/
  width: 10%;
}

.right-selector-button {
  /*width: 86.5px;*/
  width: 10%;
}

.center-image-container {
  width: 80%;
  max-width: 700px;
}

.center-image {
  display: block;
  max-width: 700px;
  width: 100%;
  height: auto;
}

/* Photo Carousel */

.photo-carousel {
  max-width: 1000px;
  width: 90%;
}

.photo-carousel-container-wrapper {
  width: 90%;
}

.photo-carousel-container {
  width: 80%;
  max-width: 700px;
  overflow: hidden;
}

.photo-carousel-ul {
  list-style: none;
  padding: 0px 0px 0px 0px;
}

.photo-carousel-list-item {
  margin: 0px 10px 0px 0px;
  width: 100px;
  max-height: 67px; 
  overflow: hidden;
}

.photo-carousel-image {
  display: block;
  height: auto;
  width: 100%; 
}

.image-in-focus {
  /**/
}

.image-not-in-focus {
  filter: brightness(50%);
}

/* Testing */

.test-1 {
  outline: 2px solid blue;
}

.test-2 {
  outline: 2px solid green;
}

.test-3 {
  outline: 2px solid red;
}

.test-4 {
  outline: 2px solid yellow;
}
